* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;

}

.navbar a {
    position: relative;
    font-size: 20px;
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .4s;
}

.navbar a:hover::before {
  width: 100%;


}

.c1 {
    height : 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.c1 video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
    
}

.c1::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -99;
    background-color: rgb(4 4 4 / 65%);
    
}
.footer {
    background-color: #000;
    padding: 10px 0;
    text-align: center;
 }
 .footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: aliceblue;

 }

 .footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid aliceblue;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
 }

 .footer .social a:hover{
    opacity: 0.9;
 }
 .footer .list{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
 }
 .footer .list li{
    display: inline-block;
    padding: 0 15px;
 }
 .footer .list li a {
    color: aliceblue;
    text-decoration: none;
    opacity: 0.8;
 }



 .footer .list li a:hover{
   opacity: 1;
 }

 .footer .copyright{
    margin-top: 15px;
    text-align: center;
    color: aliceblue;
    font-size: 13px;
 }
 .loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50% , -50%);
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.loginbox h2 {
    margin: 0 0 30px;
    padding: 0;
    color: aliceblue;
    text-align: center;
}

.loginbox .user {
position: relative;
}

.loginbox .user input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: aliceblue;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid aliceblue;
    outline: none;
    background-color: transparent;
}

.loginbox .user label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: aliceblue;
    pointer-events: none;
    transition: .5s;
}
/* Sélecteur des options */
/* .loginbox .user select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: aliceblue;
    background: transparent;
    border: 1px solid aliceblue;
    border-radius: 5px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.loginbox .user select:hover {
    border-color: rgb(145, 188, 226);
}

.loginbox .user select:focus {
    border-color: rgb(145, 188, 226);
    box-shadow: 0 0 5px rgb(145, 188, 226);
}

.loginbox .user select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: aliceblue;
} */

/* Bouton de soumission */
.loginbox form #inp4 {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: aliceblue;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: none;
    background: rgb(145, 188, 226);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.loginbox form #inp4:hover {
    background-color: aliceblue;
    color: rgb(145, 188, 226);
    box-shadow: 0 0 10px rgb(145, 188, 226),
                0 0 20px rgb(145, 188, 226),
                0 0 40px rgb(145, 188, 226);
}

